/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
   
.b_h h1 {
    font-size: 40px;
    margin-top: 225px;
    padding: 0 20px;
}
    .b_text h2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin: -89px 20px 2px;
}


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
     .b_text h2 {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin: -89px 20px 2px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
  .b_text h2 {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin: -89px 20px 2px;
}

}
	

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
